@import '~styles/helpers/_module';

:host {
	display: block;
	height: 100%;
	width: 100%;
	.contents {
		background-color: white;
		height: 100%;
		width: 100%;
		padding-top: 10px;
		box-sizing: border-box;
		overflow: auto;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	}
	.link {
		&-icon {
			height: 24px;
			width: 24px;
			margin-right: 20px;
			upscale-generic-image {
				background-color: white;
			}
		}
		&-name {
			word-break: break-all;
			font-family: Roboto;
			@include base-font-size;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			letter-spacing: normal;
			text-align: left;
			text-decoration: none;
			color: #401f0e!important;
		}
		&-row {
			@include clickable;
			text-decoration: none;
			display: flex;
			min-height: 50px;
			align-items: center;
			padding: 0 24px;
			position: relative;
			box-sizing: border-box;
			&:hover::after {
				content: '';
				position: absolute;
				height: 100%;
				width: 100%;
				left: 0;
				background-color: rgba(0, 0, 0, 0.05);
				pointer-events: none;

				// This media query does not work for IE. However, this issue is caused by IOS devices and I believe you
				// can't really install IE on an IOS device. https://css-tricks.com/annoying-mobile-double-tap-link-issue/
				@media not all and (hover) {
					content: none;
				}
			}
		}
	}
}
